{% extends "base.html" %}

{% load static %}

{% block content %}

<section class="section">
	<div class="container">
		<!-- Article Content -->
        {{ post.title }}
		<article class="row mb-4">
			<div class="col-lg-10 mx-auto mb-4">
				<h1 class="h2 mb-3">{{ detail.title }}</h1>
				<ul class="list-inline post-meta mb-3">
					<li class="list-inline-item"><i class="ti-user mr-2"></i><a href="author.html">Author: {{ detail.author_name }}</a></li>
					<li class="list-inline-item">Date : {{ detail.date }}</li>
				</ul>
			</div>

			<div class="col-12 mb-3">
				<div class="post-slider">
                    {% for image in detail.images.all %}
                                <img loading="lazy" src="{{ image.image.url }}" class="img-fluid" alt="post-thumb" style="height:200px; object-fit: cover;">
                             {% endfor %}
				</div>
			</div>
			<div class="col-lg-10 mx-auto">
				<div class="content">
					<p>{{ detail.description1 }}</p>
				</div>
			</div>
		</article>


	</div>
</section>
   {% endblock %}
